<style>
    .logout-button{
        color: antiquewhite;
        background-color: rgb(255,71,71);
        border-radius: 5px;
        width: fit-content;
        padding: 7px;
    }
    .logout-button:hover{
        background-color: rgb(251,98,98);
        border-color: antiquewhite;
        color: antiquewhite;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/employee/home">TicketMaster</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>