<style>
    footer{
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }
</style>
<footer>
    <p>&copy; 2023 TIKCET MANAGEMENT APP. All right reserved.</p>
</footer>